@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --my-bg-color: 241, 241, 241;
  --my-font-color: 17, 24, 39;
}

body {
  font-family: 'Inter Variable', sans-serif;
  color: rgb(var(--my-font-color));
  background: rgb(var(--my-bg-color));
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}